{% paginate collection.products by 24 %}
  <header role="banner" class="orange text-white">
    <div class="xl center-grid">
      <div class="flex-row hero-bot-pad">
        <div class="inline col-one-half left-pad hero-text-right-pad">
          <div class="hero-text-top-pad hero-inner-text-right-pad">
          <h1>{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <div class="rte">
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
        </div>
        <div class="inline col-one-half right">
          {% if collection.image %}
            <img class="hero-image-right" src="{{ collection | img_url: 'original' }}"  alt="{{ collection.title | escape }}"/>
          {% else %}
            <img src="{{ collection.products.first | img_url: 'small' }}"  alt="{{ collection.title | escape }}"/>
          {% endif %}
        </div>
    </div>

  </div>
  <div class="dark-blue flex-row">
    <div class="col-whole right-pad left-pad right sort-height">
      <span>
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6923 21.9231H17.3077V19.6154H12.6923V21.9231ZM4.61539 8.07692V10.3846H25.3846V8.07692H4.61539ZM8.07693 16.1538H21.9231V13.8462H8.07693V16.1538Z" fill="#F4F5F4"/>
        </svg>
      </span>
      <span class="text-white">
        SORT BY
      </span>
      {% if collection.all_tags.size > 0 %}
        <ul class="hide">
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% else %}
              <li>
                {{ tag | link_to_tag: tag }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  </header>

  <div class="white">
    <div class="xl center-grid flex-wrap top-pad">
    {% for product in collection.products %}
      <div class="inline xl-one-third m-one-half s-whole card">
        <div class="border-orange prod-grid-pad">
          <div>
            {% if product.featured_image != blank %}
              <a href="{{ product.url | within: collection }}">
                {% include 'responsive-image' with
                  image: product.featured_image,
                  max_width: 700,
                  max_height: 800
                %}
              </a>
            {% endif %}
          </div>
          <div>
            <p class="inline">
              <a href="{{ product.url | within: collection }}" class="text-orange">{{ product.title }}</a>
            </p>
            <p class="inline text-orange">
              {% if product.compare_at_price > product.price %}

                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  {{ product.price | money }}
                {% endif %}

              {% else %}

                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}

              {% endif %}

              {% if product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s>{{ product.compare_at_price | money }}</s>
              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </p>
            <div>
                <button class="text-white orange">BUY NOW</button>
            </div>
            <div>
              <div class="text-orange learn-more">
                Learn More
              </div>
              <div class="hide text-dark-blue learn-more-details">
                {{product.description}}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
